<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../Develop/materialize/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap" rel="stylesheet">

</head>

<body>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container blue-grey lighten-4">
            <br><br>

            <h1 class="header center blue-grey-text darken-5">
                <span class="material-icons">
                    group_add
                </span>
                My Team</h1>
            <div class="row center">
                <h5 class="header col s12 light">{{ team }}</h5>
            </div>
            <br><br>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="../Develop/materialize/materialize.min.js"></script>


</body>

</html>